html, body, .root {
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
}

body, .app {
  background: #141414;
  color: #fff;
}

.movie-card {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: 1;
}

.movie-card-info {
  font-weight: bold;
  text-shadow: 2px 2px #000;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 10px;
}

.movie-card-add-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.movie-card-title {
  font-size: 120%;
}

.movie-card-rating {
  font-size: 90%;
}

.movie-card-description {
  font-size: 100%;
}

.movie-list-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-list-grid li {
  padding: 10px 15px;
  text-align: left;
  width: 30%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141414;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 3px 3px;
  z-index: 1;
}

.dropdown-content ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.dropdown-content ul li {
  flex: 1;
  list-style-type: none;
  cursor: pointer;
}

.dropdown-content ul li:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown img {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.jumbotron-container {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.jumbotron-info-container {
  background-color: #000;
  width: 30%;
  height: 100%;
  box-shadow: 20px 0 220px 100px #000;
}

.jumbotron-info {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 5% 8%;
  font-size: 3em;
}

.jumbotron-buttons {
  display: flex;
  font-size: 3em;
}

.carousel-container {
  padding: 0 0 10px;
}

.carousel-title {
  padding-left: 25px;
  font-size: 150%;
  font-weight: bold;
  margin: 0;
}

.navbar-container {
  background: #141414;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #141414;
}

.navbar-logo {
  width: 100%;
  height: 100%;
}

.navbar-logo-container {
  cursor: pointer;
  width: 10%;
  height: 10%;
}

.navbar-options {
  cursor: pointer;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Helvetica';
}

.navbar-options span {
  cursor: pointer;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  border-bottom: 5px solid transparent;
}

.navbar-input-container {
  border: 1px solid white;
  padding: 3px 5px 3px 5px;
}

.navbar-input-container input[type="text"] {
  background: transparent;
  border: none;
  color: #fff;
  padding-left: 5px;
}

.navbar-input-container input[type="text"]:focus {
  outline: 0;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
