html, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: #141414;
  color: #fff;
}

.app {
  margin-top: 105px;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar-container {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: #000;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo {
  width: 100%;
  height: 100%;
}

.navbar-logo-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20%;
  height: 100%;
  transform: scale(0.64);
  margin-left: 5px;
  margin-right: 0px;
}

.navbar-menu-option-container {
  cursor: pointer;
  flex: 5;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Helvetica';
}

.navbar-menu-option-container span {
  margin-top: 5px;
  padding: 5px 5px 30px 5px;
  font-size: 22px;
  font-weight: bold;
  height: 100%;
  border-bottom: 7px solid transparent;
}

.navbar-menu-option {
  margin: 0 8px 0 8px;
}

.navbar-menu-option span{
  cursor: pointer;
}

.navbar-input-space {
  flex: 3;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.navbar-input-container {
  display: flex;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  border: 2px solid transparent;
}

.navbar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 8px 5px 8px;
}

.navbar-input i {
  font-size: 28px;
}

.navbar-input input {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 15px;
  width: 100%;
  font-size: 22px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.navbar-input input:focus {
  outline: 0;
}

.navbar-input-reset-query i {
  font-size: 36px;
  margin-left: 30px;
}

.movie-card {
  width: 100%;
  height: 250px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.15s;
}

.movie-card:hover {
  transform: scale(1.06);
}

.movie-card-container {
  flex: 1;
  display: flex;
  margin: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.movie-card-container:hover {
  opacity: 1;
}

.movie-card-info {
  font-weight: bold;
  text-shadow: 2px 2px #000;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.movie-card-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
}

.movie-card-add-button button {
  filter: opacity(50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1px solid #aaa;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.movie-card-add-button button:hover {
  filter: opacity(100%);
}

.movie-card-add-button button:active {
  filter: opacity(30%);
}

.movie-card-add-button button:focus {
  outline: 0;
}

.exist-on-list button {
  background-image: url('./icons/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.not-exist-on-list button {
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px;
}

.movie-card-title {
  font-size: 150%;
}

.movie-card-rating {
  font-size: 90%;
}

.movie-card-description {
  font-size: 80%;
}

.movie-list-container {
  margin: 0px 20px 20px 20px;
}

.movie-list-container h1{
  margin: 0;
}

.profile-container {
  margin: 0px 20px 20px 20px;
}

.movie-list-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-list-grid li {
  padding: 10px 15px;
  text-align: left;
  width: 30%;
}

.avatar-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.avatar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #141414;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 3px 3px;
  z-index: 2;
}

.avatar-dropdown-content ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.avatar-dropdown-content ul li {
  flex: 1;
  list-style-type: none;
  cursor: pointer;
}

.avatar-dropdown-content ul li:hover {
  text-decoration: underline;
}

.avatar-dropdown:hover .avatar-dropdown-content {
  display: flex;
}

.avatar-dropdown img {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.jumbotron-container {
  width: 100%;
  height: 550px;
  background-size: cover;
}

.jumbotron-info-container {
  background-color: #000;
  width: 30%;
  height: 100%;
  box-shadow: 20px 0 190px 100px #000;
}

.jumbotron-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 5% 8%;

}

.jumbotron-title {
  font-size: 2em;
}

.jumbotron-description {
  font-size: 1em;
}

.jumbotron-buttons {
  display: flex;
}

.default-button.round-button {
  border-radius: 50%;
  padding: 5px 3px 5px 3px;
}

.default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  background-color: #222;
  border: 1px solid #aaa;
  color: #f9f9f9;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.default-button:hover {
  background-color: #333;
}

.default-button:focus {
  outline: 0;
}

.play-button {
  opacity: 1;
  background-color: #ff0000;
  border: none;
  color: #fff;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.play-button:focus {
  outline: 0;
}

.carousel-container {
  margin: 0 5px 10px 0;
}

.carousel-title {
  padding-left: 25px;
  font-size: 150%;
  font-weight: bold;
  margin: 0;
}

.carousel-content > div {
  overflow: hidden;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
